.logo-container {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 2rem;
}

.logo {
  font-size: var(--fs-600);
  font-weight: bold;

  display: flex;
  align-items: center;
}

.logo-icon {
  font-size: var(--fs-600);
  font-weight: bold;
  line-height: 0.8;
}
