.cta-container {
  width: 100%;
  background: radial-gradient(
    circle at 25% 50%,
    #f77f74,
    #bb281a,
    #bb281a,
    #bb281a
  );
  display: grid;
  grid-template-columns: 0.65fr 1.35fr;
  grid-template-areas: "cta-img cta-content";
  filter: drop-shadow(0 0 20px var(--color-shadow-red));
  gap: 2%;
  padding-block: 3rem;
}

.cta-img {
  display: flex;
  place-content: center;
  padding: 0 10%;
  grid-area: cta-img;
}
.cta-img img {
  max-width: 100%;
}

.cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
  gap: 2rem;
  grid-area: cta-content;
}

.cta-content h1 {
  font-size: var(--fs-700);
  text-align: center;
}

.cta-content .btn-border {
  border-radius: 5px;
  border: 2px solid var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content p {
  font-size: var(--fs-500);
  font-weight: 400;
}

/*======================= Responsive ============================ */

@media screen and (min-width: 1900px) {
}

@media screen and (max-width: 1250px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 650px) {
  .cta-container {
    background: radial-gradient(circle at 50% 75%, #f77f74, #bb281a, #bb281a);
    grid-template-columns: 1fr;
    grid-template-areas:
      "cta-content"
      "cta-img";
    place-content: center;
  }
  .cta-img {
    max-height: 40vh;
    padding: 5% 0 0;
  }
  .cta-img img {
    width: auto;
  }
}

@media screen and (max-width: 450px) {
}
